<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

  <SyrCoffeeAndTeaCategory>Coffee and Tea</SyrCoffeeAndTeaCategory>
  <SyrCoffeeAndTeaPoliciesAdded>Policies successfully added</SyrCoffeeAndTeaPoliciesAdded>
  <SyrCoffeeAndTeaAddPolicies>Add drug policies</SyrCoffeeAndTeaAddPolicies>
  <SyrCoffeeAndTeaAddPoliciesTooltip>Only press this button if you need to add drug policies to your current game because you added this mod mid-game</SyrCoffeeAndTeaAddPoliciesTooltip>

</LanguageData>